* {margin: 0%; padding: 0%;}
:root {
    --cor-conteudo: #242527;
}
body {
    background-color: #ffffff;
}
header {
    box-shadow: 0px 0px 20px #51545C;
    width: 100%;
    height: 100px;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
    background-color: gainsboro;
}
a {
    color: rgb(0, 60, 255);
}
.eng {
    float: right;
    font-size: 60%;
    padding-right: 2%;
    font-weight: bold;
    font-family: 'Nunito Sans', sans-serif;
    text-decoration: none;
}
.conteudo-container {
    display: flex;
}
.conteudo1 {
    margin-left: 5%;
    float: left;
    margin-top: 20px;
}
.conteudo2 {
    margin-top: 20px;
    margin-left: 3%;
    margin-right: 3%;
}
.conteudo3 {
    float: right;
    margin-right: 5%;
    margin-top: 20px;
}
.conteudo1, .conteudo2, .conteudo3 {
    border-radius: 20px;
    display: inline-block;
    width: 25%;
    background-color: var(--cor-conteudo);
    color: aliceblue;
    box-shadow: 0px 0px 10px #51545C;
    text-align: justify;
    padding: 1.5%;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 100%;
}
.cv {
    text-align: center;
}
.escola {
    text-align: center;
}
.trabalho {
    text-align: center;
}
.rodape {
    box-shadow: 0px 0px 20px #51545C;
    width: 100%;
    height: 100%;
    background-color: gainsboro;
    text-align: center;
    margin-top: 5%;
    padding-bottom: 1.5%;
    font-family: 'Nunito Sans', sans-serif;
}
#icon_top{
    width: 6%;
    border-radius: 50%;
    padding-left: 20px;
    padding-top: 10px;
    float: left;
}
#title{
    margin-top: 12px;
}
#subtitle{
    margin-top: 0px;
}
#title, #subtitle {
    font-family: 'Nunito Sans', sans-serif;
    padding-left: 20px;
    display: inline-block;
}
#icon_top, #title {
    display: inline-block;
}
#imgescola {
    border-radius: 25%;
    padding-top: 2%;
    padding-bottom: 2%;
    width:100%;
}
#imggn {
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
}
#rp {
    color: rgb(0, 47, 255);
    text-decoration: none;
}
#cv {
        width:100%;
}
